label{
    display:flex;
    margin-top:10px;
}

.botonGuardar{
    display:flex;
    margin-top: 10px;
    color:blue;
    border-color:blue;
}

.cajabuscar{
    display:inline-block;
}

.botonBuscar{
    color:blue;
    border-color:blue;
}

.botonBuscarCCAA{
    margin-top: 10px;
    color:blue;
    border-color:blue;
}